<%- include("partials/header", {isLoggedIn: isLoggedIn}) -%>   

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/site-images/DailyJournalFavicon.png" alt="DailyJournalFavicon" width="72" height="72">
    <h1 class="display-5 fw-bold">The Daily Journal</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Create your very own public or private blogs quickly. Sign Up below to begin.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/users/signup">Sign Up</a>
      </div>
    </div>
</div>

<%- include("partials/footer") -%>