<%- include("partials/header", {isLoggedIn: isLoggedIn}) -%>

<div class="container error-container">
  <div class="error-head">
    <h1>Error!</h1>
    <p><%= message %></p>
  </div>
</div>

<%- include("partials/footer") -%>
